doctype html
html(lang="en")
  head
    meta(charset="UTF-8")
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    title Image Gallery
    link(rel="stylesheet", href="styles.css")

  body
    // Navigation Menu
    nav
      ul
        li
          a(href="#page1") Page 1
        li
          a(href="#page2") Page 2
        li
          a(href="#page3") Page 3
        li
          a(href="#page4") Page 4

    // Page 1
    section(id="page1", class="gallery-page")
      h2 Page 1
      .gallery
        img(src="image1.jpg", alt="Image 1")
        img(src="image2.jpg", alt="Image 2")
        img(src="image3.jpg", alt="Image 3")
        img(src="image4.jpg", alt="Image 4")

    // Page 2
    section(id="page2", class="gallery-page")
      h2 Page 2
      .gallery
        img(src="image5.jpg", alt="Image 5")
        img(src="image6.jpg", alt="Image 6")
        img(src="image7.jpg", alt="Image 7")
        img(src="image8.jpg", alt="Image 8")

    // Page 3
    section(id="page3", class="gallery-page")
      h2 Page 3
      .gallery
        img(src="image9.jpg", alt="Image 9")
        img(src="image10.jpg", alt="Image 10")
        img(src="image11.jpg", alt="Image 11")
        img(src="image12.jpg", alt="Image 12")

    // Page 4
    section(id="page4", class="gallery-page")
      h2 Page 4
      .gallery
        img(src="image13.jpg", alt="Image 13")
        img(src="image14.jpg", alt="Image 14")
        img(src="image15.jpg", alt="Image 15")
        img(src="image16.jpg", alt="Image 16")

    script(src="script.js")
